@model SV22T1080053.Admin.Models.DashboardViewModel
@{
    ViewBag.Title = "Quản lý bán hàng";
}

<div class="row">

    <div class="col-lg-3 col-xs-6">
        <div class="small-box bg-aqua">
            <div class="inner">
                <h3>@Model.ReportData.TotalOrderCount</h3>
                <p>Tổng số đơn hàng</p>
            </div>
            <div class="icon">
                <i class="ion ion-bag"></i>
            </div>
            <a href="~/Order" class="small-box-footer">Chi tiết <i class="fa fa-arrow-circle-right"></i></a>
        </div>
    </div>

    <div class="col-lg-3 col-xs-6">
        <div class="small-box bg-green">
            <div class="inner">
                <h3>@Model.ReportData.SuccessfulOrderCount</h3>
                <p>Đơn thành công</p>
            </div>
            <div class="icon">
                <i class="ion ion-checkmark-circled"></i>
            </div>
            <a href="~/Order?status=4" class="small-box-footer">Chi tiết <i class="fa fa-arrow-circle-right"></i></a>
        </div>
    </div>

    <div class="col-lg-3 col-xs-6">
        <div class="small-box bg-yellow">
            <div class="inner">
                <h3>@Model.ReportData.TotalRevenue.ToString("N0") <small style="color:white">đ</small></h3>
                <p>Tổng doanh thu</p>
            </div>
            <div class="icon">
                <i class="ion ion-social-usd"></i>
            </div>
            <a href="~/Order" class="small-box-footer">Chi tiết <i class="fa fa-arrow-circle-right"></i></a>
        </div>
    </div>

    <div class="col-lg-3 col-xs-6">
        <div class="small-box bg-red">
            <div class="inner">
                <h3>@Model.ReportData.CustomerCount</h3>
                <p>Khách hàng</p>
            </div>
            <div class="icon">
                <i class="ion ion-person-add"></i>
            </div>
            <a href="~/Customer" class="small-box-footer">Chi tiết <i class="fa fa-arrow-circle-right"></i></a>
        </div>
    </div>
</div>

@if (Model.ReportData.WaitingOrderCount > 0)
{
    <div class="alert alert-warning alert-dismissible">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
        <h4><i class="icon fa fa-warning"></i> Chú ý!</h4>
        Hiện có <b>@Model.ReportData.WaitingOrderCount</b> đơn hàng mới đang chờ duyệt.
        <a href="~/Order?status=1" style="color: inherit; text-decoration: underline;">Xem ngay</a>.
    </div>
}

<div class="row">
    <div class="col-sm-12">
        <div class="box box-info">
            <div class="box-header with-border">
                <h3 class="box-title">Biểu đồ doanh thu (30 ngày gần nhất)</h3>
            </div>
            <div class="box-body chart-responsive">
                <div class="chart" id="line-chart" style="height: 450px;"></div>
            </div>
        </div>
    </div>
</div>

@section styles {
    <link rel="stylesheet" href="~/themes/bower_components/morris.js/morris.css">
}

@section scripts {
    <script src="~/themes/bower_components/raphael/raphael.min.js"></script>
    <script src="~/themes/bower_components/morris.js/morris.min.js"></script>
    <script>
        $(document).ready(function () {
            var chartData = @Html.Raw(System.Text.Json.JsonSerializer.Serialize(Model.ReportData.RevenueChartData));

            new Morris.Line({
                element: 'line-chart',
                resize: true,
                data: chartData,
                xkey: 'Date',
                ykeys: ['Revenue'],
                labels: ['Doanh thu'],
                lineColors: ['#3c8dbc'],
                hideHover: 'auto',
                xLabelFormat: function (x) {
                    var d = new Date(x);
                    return d.getDate() + "/" + (d.getMonth() + 1);
                },
                dateFormat: function (x) {
                    var d = new Date(x);
                    return d.getDate() + "/" + (d.getMonth() + 1) + "/" + d.getFullYear();
                }
            });
        });
    </script>
}