@model PaginationSearchResult<Shipper>
@{
    Layout = null;
}

<!-- Hiển thị kết quả tìm kiếm -->
<div>
    <p style="margin:10px 0 10px 0">
        Có <strong>@Model.RowCount</strong> người giao hàng trong tổng số <strong>@Model.PageCount</strong> trang
    </p>

    <div class="table-responsive">
        <table class="table table-bordered table-hover table-striped">
            <thead>
                <tr class="bg-primary">
                    <th>Tên người giao hàng</th>
                    <th>Điện thoại</th>
                    <th style="width:80px"></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Data)      // @for (int i = 1; i <= 10; i++)
                {
                    <tr>
                        <td>@item.ShipperName</td>
                        <td>@item.Phone</td>
                        <td class="text-right">
                            <a href="~/Shipper/Edit/@item.ShipperID" class="btn btn-xs btn-info">
                                <i class="fa fa-edit"></i>
                            </a>
                            <a href="~/Shipper/Delete/@item.ShipperID" class="btn btn-xs btn-danger">
                                <i class="fa fa-remove"></i>
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <ul class="pagination">
            @{
                // ... (code C# của em giữ nguyên) ...
                int currentPage = Model.Page;
                int pageCount = (int)Math.Ceiling((double)Model.RowCount / Model.PageSize);
                string searchValue = Model.SearchValue; // Thầy thấy em có khai báo mà chưa dùng?
                bool anyleft = false;
                bool anyright = false;
            }

            @for (int i = 1; i <= pageCount; i++)
            {
                if (i == currentPage)
                {
                    <li class="active"><a href="#">@i</a></li>
                }

                else if (i == 1)
                {
                    <li><a href="javascript:;" class="page-link" onclick="searchData(@i)">@i</a></li>
                }
                else if (i == pageCount)
                {
                    <li><a href="javascript:;" class="page-link" onclick="searchData(@i)">@i</a></li>
                }
                else if (i - currentPage == 1)
                {
                    <li><a href="javascript:;" class="page-link" onclick="searchData(@i)">@i</a></li>
                }
                else if (i - currentPage == -1)
                {
                    <li><a href="javascript:;" class="page-link" onclick="searchData(@i)">@i</a></li>
                }
                else if ((i - currentPage > 1) && anyright == false)
                {
                    <li class="disabled"><a href="#">...</a></li>
                    anyright = true;
                }
                else if ((i - currentPage < -1) && anyleft == false)
                {
                    <li class="disabled"><a href="#">...</a></li>
                    anyleft = true;
                }
            }
        </ul>
    </div>
</div>